/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
body {
  background-color: #b2bec3;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
h1 {
  color: #d63031;
  font-size: 36px;
  font-weight: bold;
}
.vizitka {
  border-radius: 10px;
  background-color: white;
  width: 550px;
  margin: 150px auto;
  position: relative;
  padding: 30px;
  box-shadow: 3px 3px 5px grey;
}
.foto {
  border-radius: 50%;
  border: 3px solid white;
  width: 150px;
  position: absolute;
  top: -75px;
  right: -75px;
  box-shadow: 3px 3px 5px grey;
}

.tlacitko1,
.tlacitko2 {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  width: 490px;
  padding: 10px;
  text-align: center;
}
.tlacitko1 {
  background-color: #1da1f2;
  margin-bottom: 5px;
  margin-top: 30px;
}
.tlacitko1:active,
.tlacitko1:hover {
  background-color: #0b7bc1;
}
.tlacitko2 {
  background-color: #3b5998;
  margin-bottom: 30px;
}
.tlacitko2:active,
.tlacitko2:hover {
  background-color: #2b406e;
}
